<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <p1>Login</p1>
    <form action="/login" method="post">
        <label for="UserName">User Name: </label><input name="UserName" type="text">
        <label for="Password">Password: </label><input name="Password" type="text">
        <button>Submit</button>

    </form>
</body>
</html>