<form action="/register/verification" method="POST">
    <div class="form-group">
        <div class="fxt-transformY-50 fxt-transition-delay-3">
            <input id="verification" type="text" class="form-control" name="verification" placeholder="********" required="required">
        </div>
    </div>
    <div class="fxt-checkbox-area">
        <button type="submit" class="fxt-btn-fill">submit</button>
    </div>
</form>