<h1>Hi <%= userInfo.id %></h1>
<h1>Hi <%= userInfo.email %></h1>
<h1>Hi <%= userInfo.password %></h1>
<h1>Hi <%= userInfo.username %></h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>