<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/usercenter.js"></script>
    <title>User Center</title>
</head>
<body>
<t1>Frontend of User Center</t1>
<t2>This page shows how you can use Javascript to create dynamic web pages</t2>
<div class="number" id="demo">1</div>
<button>Increase</button>
<button>Change Color</button>


</body>
</html>